{% extends "base.html" %}
{% block contents %} 
    {% if request.user.is_authenticated %}
        <section class="container">
        {% if posts %}
            {% for post in posts %}
                <div class="card mt-5">
                    <div class="card-header">
                        <b>{{post.user}}</b> ,
                        {{post.created_at}}
                        {% if post.public %}
                            <i class="badge bg-success">Public</i>
                        {% else %}
                            <i class="badge bg-danger">Private</i>
                        {% endif %}
                        
                    </div>
                    <img src="{{post.img.url}}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.description}}</p>
                        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                    </div>
                </div>
                {% comment %} <img class="w-10 h-10" src="{{post.img.url}}" alt="photo"> {% endcomment %}
                
                
            {% endfor %}
        {% else %}
        <h3>No post Available</h3>
        {% endif %}
        </section>
    {% else %}
        <h1> You are not logged in</h1>
        <a class="btn btn-success" href="/login" role="button">Login</a>
    {%endif%}
{% endblock contents %}